
.projectSelector {
  width: 50%;
  width: 25%;
  min-width: 200px;
}

.depVizContainer {
  margin: 20px;
}

.nodes {
	fill: darkgray;
}
.nodes text {
	fill: white;
  overflow: hidden;
}

path {
	stroke: black;
	fill: black;
	stroke-width: 1.5px;
}
